/*Les propriétés globales partagées par toutes les versions*/

/*Une convention a été utilisée dans le nommage des classes.
Inspirée du BEM, block-element_modificateur, j'ai réalisé
pour les noms de classe formant l'entité block avec des camelCases.
Puis, les enfants du block portent leur nom en tiret après le nom de leur block parent.


*/




html {
    margin: 0px;
    padding: 0px;

}



body {

    margin: 0px auto;
    font-family: 'Raleway';
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0px 0px;
    cursor: default;
}



.headerBooki {
    width: 100%;

}

.headerBooki-top {
    width: 100%;
    display: flex;
}


.headerBooki-titre-paragraphe {
    margin: 20px 0px;
}


.icone_position {
    margin: auto;
}



.headerBooki-info>p {
    margin: auto 10px;
}



.icone-info {
    margin: auto 0px 5px;
    width: auto;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 4px 10px;
    color: #0065FC;
}



.elements-carte-titre-h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 0px;
}




.footerBooki-elements-titre-h4{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

}



p {

    margin: 5px 0px;


}

a {
    text-decoration: none;
    color: initial;
    cursor: default;
}


/*La version desktop*/



@media (min-width: 993px) {



    body {
        max-width: 1400px;
        min-width: 992px;
        width: 95%;
    }



    .headerBooki-top {
        justify-content: space-between;

    }

    .headerBooki-top-logo {
        flex: 3;
        padding: 50px 0px;

    }

    .headerBooki-top-navBooki {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .headerBooki-top-navBooki-ul {
        display: flex;
        flex: 1;
        margin-top: 0px;



    }

    .headerBooki-top-navBooki-ul-li {
        flex: 1;
        display: flex;


    }

    .headerBooki-top-navBooki-ul-li-a {
        text-decoration: none;
        color: black;
        border-top: 2px solid #0065fc00;
        width: auto;
        padding: 50px 0px;
        flex: 1;
        text-align: center;
    }

    .headerBooki-top-navBooki-ul-li-a:hover {
        border-top: 2px solid #0065FC;


    }







    .headerBooki-recherche {
        display: flex;
        width: 30%;
        height: 50px;
    }

    .headerBooki-recherche-localisation {
        display: flex;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        flex: 1;
        min-width: 50px;
        height: 50px;

    }

    .headerBooki-recherche-input {
        flex: 5;
        border: 1px solid #F2F2F2;
        color: initial;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Raleway";
        padding-left: 10px;
    }

    .headerBooki-recherche-input::placeholder {
        color: rgb(0, 0, 0);
        opacity: 1;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Raleway";


    }

    .headerBooki-recherche-submit {
        flex: 2.5;
        background-color: #0065FC;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        vertical-align: middle;
        height: 50px;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        min-width: 120px;
    }



    .texteSearch-display {
        display: block;
    
    }
    
    .iconeSearch-display {
        display: none;
    }
    





    .headerBooki-filtre {
        display: flex;
        width: 70%;
        height: 50px;
        gap: 30px;
        margin: 50px 0px;
    }

    .headerBooki-filtre-h2 {
        margin: auto 0px;
    }

    .headerBooki-filtre-button {

        background-color: #ffffff;
        width: auto;
        display: flex;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 0px 10px;
        gap: 10px;


    }

    .headerBooki-filtre-button:hover {
        background-color: #DEEBFF;
        border: 2px solid #d9d9d9;
        border-radius: 25px;


    }


    .icone {
        flex: 1;
        margin: auto;
        text-align: right;
        color: #0065FC;
    }



    .filtre-info {
        flex: 1;
        margin: auto;
        text-align: left;
        white-space: nowrap;
        font-weight: 700;
        font-size: 17px;
        line-height: 19px;


    }

    .headerBooki-info {
        margin: 10px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }



    .headerBooki-titre-h1 {
        font-size: 22px;

    }



    .sectionBooki-titre-h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;


    }



    /*le main de booki */

    .mainBooki {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 40px;
    }



    .sectionBooki-hebergements {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 2.8;
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        height: auto;

    }

    .sectionBooki-hebergements>.sectionBooki-titre {
        width: 90%;
        margin: 30px auto;
    }

    .sectionBooki-populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1.2;
        background-color: #F2F2F2;
        border-radius: 20px;


    }

    .sectionBooki-activites {
        width: 100%;

    }

    .sectionBooki-populaires>.sectionBooki-titre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        width: 95%;
        margin-top: 30px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
        padding: 0px 40px;
        box-sizing: border-box;

    }




    .sectionBooki-elements-hebergements {
        flex: 6;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;



    }


    .afficherPlus {
        width: 90%;
        margin: auto;
        display: flex;

    }

    .afficherPlus>h4 {
        flex: 1;
        margin-bottom: 50px;


    }

    .elements-hebergements-carte {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        height: 199px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        margin-bottom: 10%;

    }

    .elements-hebergements-carte-image {
        width: 246px;
        height: 124px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        margin: 0px auto;
    }

    .elements-hebergements-carte-description {
        margin: 0px 20px 15px 15px;
        width: auto;
        height: 60px;


    }

    .sectionBooki-populaires-iconePopulaireParent_position {
        display: flex;
        padding-left:5px;
    }

    .elements-populaires-carte-description-etoile {}



    .sectionBooki-elements-populaires {

        justify-content: center;
        flex: 1;
        width:80%;
        margin:auto;


    }

    .elements-populaires-carte {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 1;
        background-color: white;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        margin: 30px auto;
    }

    .elements-populaires-carte-image {
        width: 137px;
        height: 144px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px 0 0 20px;
        overflow: hidden;

    }

    .elements-populaires-carte-description {
        flex: 1;
        margin: 10px;
        flex-wrap: nowrap;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }


    .elements-populaires-carte-titre {
        flex: 1;
        margin: 0px;

    }

    .sectionBooki-elements-activites {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;

    }

    .sectionBooki-activites>.sectionBooki-titre {
        width: 100%;
        margin: 30px auto;
    }

    .sectionBooki-elements-activites>a {
        width: auto;
        margin: 0px 1%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        border-radius: 20px 20px 20px 20px;
        overflow: hidden;

    }

    .elements-activites-carte {
        display: flex;
        flex-direction: column;


    }


    .elements-activites-carte-image {
        align-self: center;
        width: 302px;
        height: 445px;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    .elements-activites-carte-description {
        padding: 20px 36px;
        width: auto;

    }


    .hebergementsImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .populairesImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .activitesImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }





    .footerBooki {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #F2F2F2;
        padding: 20px 50px;
        margin-top: 70px;
        margin-bottom: 0px;
        box-sizing: border-box;

    }



    .footerBooki-elements {
        flex: 1;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

    }
.footerBooki-elements-titre-h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

}
    .footerBooki-elements-ul-li {
        list-style-type: none;
        padding: 5px;
    }

    .footerBooki-elements-titre {
        flex: 1;
        padding: 0px 45px;

    }



    .icone_bleu {
        color: #0065FC;

    }

    .icone_gris {
        color: #F2F2F2;
    }



}