/*version mobile petite*/

@media (max-width: 490px) {





    body {
        max-width: 490px;
        min-width: 348px;
        width: 100%;


    }


    .headerBooki-top {

        flex-direction: column;
        justify-content: space-around;

    }

    .headerBooki-top-logo {
        flex: 1;
        margin: 20px auto;


    }

    .headerBooki-top-navBooki {
        flex: 1;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

    .headerBooki-top-navBooki-ul {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        padding: 0px;


    }

    .headerBooki-top-navBooki-ul-li {
        flex: 1;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;

    }

    .headerBooki-top-navBooki-ul-li-a {
        text-decoration: none;
        color: black;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
        padding: 40px 0px;
        flex: 1;
        text-align: center;
    }


    .headerBooki-top-navBooki-ul-li-a:active {
        border-color:  #0065fc;


    }

    .headerBooki-titre {
        margin: auto 5%;
    }







    .headerBooki-recherche {
        display: flex;
        width: 90%;
        height: 50px;
        margin: auto;
    }

    .headerBooki-recherche-localisation {
        display: flex;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        flex: 1;
        min-width: 30px;
        max-width: 70px;
        height: 100%;

    }

    .headerBooki-recherche-input {
        flex: 1;
        height: 100%;
        border: 1px solid #F2F2F2;
        color: black;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Raleway";
        padding-left: 10px;
    }

    .headerBooki-recherche-input::placeholder {
        opacity: 1;
        color: black;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Raleway";



    }

    .headerBooki-recherche-submit {
        flex: 1;
        background-color: #0065FC;
        color: #ffffff;
        vertical-align: middle;
        height: 100%;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        min-width: 50px;
        max-width: 70px;
        ;
    }


    .texteSearch-display {
        display: none;
    
    }
    
    .iconeSearch-display {
        display: block;
    }
    



    .headerBooki-filtre {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 92%;
        height: auto;
        margin: 20px auto;
    }

    .headerBooki-filtre-h2 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        font-family: "Raleway";
        font-weight: 700;
        line-height: 12px;
    }

    .headerBooki-filtre-button {
        background-color: #ffffff;
        width: 20%;
        min-width: 157px;
        max-width: 300px;
        height: 50px;
        display: flex;
        border: 2px solid #D9D9D9;
        border-radius: 45px;
        margin-bottom: 5%;




    }

    .headerBooki-filtre-button:hover {
        background-color: #DEEBFF;
        border: 2px solid #d9d9d9;
        border-radius: 45px;


    }


    .icone {

        margin: auto;
        margin-left: 5px;
        text-align: left;
        color: #0065FC;
    }



    .filtre-info {
        flex: 2;
        margin: auto 5px;
        text-align: left;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;



    }

    .headerBooki-info {

        margin: 50px auto;
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }




    .headerBooki-titre-h1 {
        font-size: 24px;

        font-family: "Raleway";
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

    }



    .sectionBooki-titre-h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
    

    }




    .mainBooki {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 40px;
    }



    .sectionBooki-hebergements {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-wrap: nowrap;
        flex: 1;
        width: 100%;
        background-color: #ffffff;



    }

    .sectionBooki-titre {
        width: 100%;
        margin: 30px 10px;
        white-space: nowrap;
    }



    .sectionBooki-populaires {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: #F2F2F2;



    }

    .sectionBooki-activites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 3;
        flex: 100%;
    }

    .sectionBooki-populaires>.sectionBooki-titre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        width: 100%;
        margin-top: 30px;
        padding: 0px 40px 0px 0px;
        box-sizing: border-box;
        height: auto;

    }




    .sectionBooki-elements-hebergements {
        flex: 6;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        padding: 0px 15px;
        box-sizing: border-box;

    }

    .elements-activites-carte-description>.elements-carte-titre>.elements-carte-titre-h3 {
        margin-left: 20px;
    }

    .afficherPlus {

        display: none;

    }

    .elements-hebergements-carte {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        height: 199px;
        margin-bottom: 2%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);


    }

    .elements-hebergements-carte-image {
        width: 335px;
        height: 124px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        margin: 0px auto;
    }

    .elements-hebergements-carte-description {
        margin: 0px 20px 15px 15px;
        width: auto;
        height: 60px;


    }

    .sectionBooki-populaires-iconePopulaireParent_position {
        display: flex;

    }



    .sectionBooki-elements-populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 15px;


    }

    .elements-populaires-carte {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 334px;
        flex-wrap: nowrap;
        background-color: white;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        margin: 15px auto;
    }

    .elements-populaires-carte-image {
        width: 137px;
        height: 144px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px 0 0 20px;
        overflow: hidden;

    }

    .elements-populaires-carte-description {
        flex: 1;
        margin: 10px;
        flex-wrap: nowrap;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }


    .elements-populaires-carte-titre {
        flex: 1;
        margin: 0px;

    }

    .sectionBooki-elements-activites {

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 50px;
    }

 

    .sectionBooki-activites>.sectionBooki-titre>.sectionBooki-titre-h2 {
        width:40%;
        white-space:normal;
    }
    .sectionBooki-titre-h2 {
        margin-left: 30px;
    }
    .elements-activites-carte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 334px;
        height: auto;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        margin: auto;
    }


    .elements-activites-carte-image {
        align-self: center;
        width: 334px;
        height: 134px;
        border: 0px solid rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    .elements-activites-carte-description {

        height: 50px;
        width: auto;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 16px;
        Line-height: 18.78px;

    }


    .hebergementsImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .populairesImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .activitesImageTaille {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }





    .footerBooki {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: #F2F2F2;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        padding: 5% 2%;


    }



    .footerBooki-elements {
        flex: 1;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

    }
    .footerBooki-elements-titre-h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    
    }
    .footerBooki-elements-ul-li {
        list-style-type: none;
        padding: 5px;
    }

    .footerBooki-elements-titre {
        flex: 1;
        padding: 0px 45px;

    }



    .icone_bleu {
        color: #0065FC;

    }

    .icone_gris {
        color: #F2F2F2;
    }



}